<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Token Management</title>
    <link rel="stylesheet" type="text/css" href="css/styles.min.css">
  </head>
  <body>
    <div id="page">

      <div id="welcome">
        <span>
          <h3 id="login-msg">Logged in as <%= user %></h3>
          <button type="button" class="floatright big-button" id="show-token-form-button" onclick="npgauth.showTokenCreationForm();">Create a new token</button>
        </span>
        <br><br>
        <div>
          <h2>Authorisation tokens for npg_ranger</h2>
          <h4>Create a new token or revoke unused tokens.</h4>
        </div>
      </div>

      <div id="floating-div">
        <button type="button" class="floatright" onclick="npgauth.closeTokenCreationForm();">X</button>
        <button type="button" class="big-button" id="create-token-button" onclick="npgauth.createTokenRequest();npgauth.closeTokenCreationForm();">Create Token</button>
      </div>

      <table id="token-table">
        <colgroup>
          <col style="width: 180px">
          <col class="monospace">
          <col style="width: 105px">
          <col style="width: 100px">
        </colgroup>
        <tr id="table-headers">
          <th>Username</th>
          <th>Token</th>
          <th>Status</th>
          <th>Revoke</th>
        </tr>
<!-- TODO: Possibly we can move the rendering of the table to client via AJAX and just serve this as static html -->
        <% docs.forEach(function(document) { %>
        <tr>
          <td><%= document.user %></td>
          <td class="monospace"><%= document.token %></td>
          <td class="token-status"><%= document.status %></td>
          <% if (document.status === 'valid') { %>
          <td class="revoke-link" onclick="npgauth.revokeToken('<%= document.token %>');">Revoke</td>
          <% } else { %>
          <td class="revoke-link-disabled">Revoke</td>
          <% } %>
        </tr>
        <% }); %>
      </table>

    </div>
    <script type="application/javascript" src="js/script.min.js"></script>
  </body>
</html>
